body, html {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    overflow: hidden;
  }

  .skrllr-wrapper {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .skrllr-section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

#one {
    background-image: url("j_criscitello_golden_roses.jpg");
    background-size: 115% auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
}


#one div{
  color: white;
  font-size: 3em;
  position: absolute;
  right: 200px;
  bottom: 100px;
}

#one span{
  background-color: black;
  margin-bottom: 20px;
}

#two {
    background-image: url("butterfly_rose.jpg");
    background-size: fill;
    color: white;
    font-size: 2em;
}

.story-one {
  position: absolute;
  bottom: 200px;
  left: 100px;
  transform: rotate(-60deg);
}

.story-two {
  position: absolute;
  bottom: 200px;
  right: 200px;
  transform: rotate(-60deg);
}

#three {
    background-image: url("ByebitchesFinal.png");
    background-size: contain;
}

#four {
    background-image: url("telephones.png");
    background-color: #0E0E2A;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.believe-me {
  font-size: 5em;
  color: white;
}

#five {
    background-image: url("lamb_swan.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 50%;
}

#six {
    background-image: url("rollins_flowers_butterfly.png");
    background-size: 115% auto;
    background-position: center 50%;
}

#seven {
    background-image: url("hlaftone_rose.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#eight {
    background-image: url("feather.jpg");
    background-size: 100% auto;
    background-position: center 50%;
}

#nine {
    background-image: url("gold_rose.png");
    background-size: 50% auto;
    background-position: center;
}

#ten {
    background-image: url("FAGPrintly.png");
    background-color: #F9E29A;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: 20% 50%;
}

#eleven {
    background-image: url("Beard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#twelve {
    background-image: url("studded_belt.png");
    background-size: 50% auto;
}
