@font-face {
 font-family: 'Chromosome';
 src: url('./ChromosomeHeavy.woff') format('woff');
}

@font-face {
  font-family: 'ChromosomeReversed';
  src: url('./ChromosomeReversed.woff') format('woff');
}

body, html{
    background-color: black;
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
  }

#home {
  background-image: url("unnamed.jpg");
}

#arrow {
  z-index: 2;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#name {
  font-family: 'Reenie Beanie', cursive;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 6rem;
  text-shadow: 2px 2px black;
  color: white;
}

.slide {
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#dreams {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-image: url("lamb_swan.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 50%;
}

#dream-table {
  display: table;
  width: 100vw;
  height: 100vh;
}

#dream {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  text-shadow: 2px 2px #FF879D;
  font-family: 'Lobster Two', cursive;
  color: white;
  font-size: 3.5rem;
}

#about {
    position: absolute;
    opacity: 0;
    background-image: url("andyk.jpg");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right 30%;
    -webkit-transition: opacity .5s ease-in;
     -moz-transition: opacity .5s ease-in;
      -ms-transition: opacity .5s ease-in;
       -o-transition: opacity .5s ease-in;
          transition: opacity .5s ease-in;
}

#bio{
  margin-top: 10px;
  margin-left: 1%;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.05rem;
}

#walkincontainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    background-color: black;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right 30%;
    -webkit-transition: opacity .5s ease-in;
     -moz-transition: opacity .5s ease-in;
      -ms-transition: opacity .5s ease-in;
       -o-transition: opacity .5s ease-in;
          transition: opacity .5s ease-in;
}

#walkin{
  position: absolute;
  left: 15%;
  top: 20%;
}

#walkin span{
  color: white;
  font-size: 3rem;
  font-family: 'Bungee Shade', cursive;
  text-shadow: 2px 2px #DCB33E;
  opacity: 0;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 10px;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#about div{
  position: absolute;
  top: 30%;
  left: 15%;
  width: 50vw;
  height: 100vh;
}

#about span{
  color: white;
  opacity: 0;
  margin-top: 10px;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#about img{
    margin-top: 15px;
}

#andrewrussell {
  text-shadow: 2px 2px #FF879D;
  font-family: 'ChromosomeHeavy', cursive;
  color: white;
  font-size: 2.6rem;
  display: block;
}

#storys {
  display: table;
  position: absolute;
  opacity: 0;
  background-image: url("j_criscitello_golden_roses.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 2.75rem;
  font-family: 'Yatra One', cursive;
  text-shadow: 4px 4px #000000;
}

#storys div{
  background-position: center 50%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#storys span{
  opacity: 0;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 10px;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#iama {
    display: table;
    position: absolute;
    font-size: 3rem;
    text-shadow: 2px 2px #000000;
    font-family: 'Chromosome', cursive;
    color: white;
    opacity: 0;
    background-color: #EFD409;
}

#iamadiv {
  background-image: url("telephones.png");
  background-size: 105% auto;
  background-repeat: no-repeat;
  background-position: center 50%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#iama span{
    background-color: black;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
     -moz-transition: opacity .5s ease-in;
      -ms-transition: opacity .5s ease-in;
       -o-transition: opacity .5s ease-in;
          transition: opacity .5s ease-in;
}

/* #right {
  position: fixed;
  top: 0;
  right: 0;
  width: 102vw;
  height: 102vh;
} */

#believeme {
  display: table;
  position: absolute;
  color: white;
  font-family: 'Kumar One', cursive;
  text-shadow: 2px 2px #40D1FF;
  background-image: url("studded_belt.png");
  opacity: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#believemecontainer{
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#believeme span{
  font-size: 5rem;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#stories {
  padding-left: 5%
  top: 0;
  left: 0;
}

#shape {
  bottom: 0;
  left: 0;
}

#doyou {
  position: absolute;
  opacity: 0;
  background-image: url("rollins_flowers_butterfly.jpg");
  background-size: 115% auto;
  background-repeat: no-repeat;
  background-position: center 50%;
  font-family: 'Reenie Beanie', cursive;
}

#doyou span{
  display: inline-block;
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px #F0000F;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#feather {
  position: absolute;
  opacity: 0;
  background-image: url("feather.jpg");
  background-size: 100% auto;
  background-position: center 50%;
}

.featherword {
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

#feathertext{
  position: absolute;
  font-family: 'Cabin Sketch', cursive;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  top: 50%;
  transform: translateY(-50%);
}

#marquee {
  white-space: nowrap;
  overflow: hidden;
}

#marquee img{
  display: inline-block;
  height: 600px;
  animation: marquee 7s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }

/* #ten {
  position: absolute;
  opacity: 0;
  background-image: url("FAGPrintly.png");
  background-color: #F9E29A;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: 20% 50%;
} */

/* #eleven {
  position: absolute;
  opacity: 0;
  background-image: url("Beard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#twelve {
  position: absolute;
  opacity: 0;
  background-image: url("studded_belt.png");
  background-size: 50% auto;
} */

#modal {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
  height: 33vh;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
     -o-transition: opacity .5s ease-in;
        transition: opacity .5s ease-in;
}

label, input, textarea {
  display: block;
  margin: 8px;
}

#message {
width: 31vw;
height: 10vh;}
